body {
    background-color: rgba(92, 91, 87, 0.075);
}

.template-table {
    width: 80%;
}

.th-about {
    text-align: center;
}

.th-contact {
    text-align: right;
    width: 25%;
}

.th-contact-field {
    text-align: left;
    width: 75%;
}

.img-profile {
    max-height: 50%;
    max-width: 50%;
    vertical-align: middle;
}

.img {
    max-height: 75%;
    max-width: 75%;
    vertical-align: middle;
}